.resultsSection{
    background-color: rgba(46, 75, 180, 0.291);
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    align-self: center;
}

.title{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.subtitle{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.resultTitle{
    font-size: 18px;
}

.result{
    font-size: 18px;
    background-color: rgba(46, 75, 180, 0.291);
    border: 2px solid transparent;
    border-radius: 5px;
    margin-top: 5px;
}