.electrodeSection {
  background-color: var(--blue);
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  align-self: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.subElectrodeSection {
  background-color: rgba(98, 42, 42, 0.1);
  border-radius: 5px;
  display: none;
  /* grid-column: 12; */
  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); */
  grid-template-rows: 1fr;
  margin-top: 20px;
}

.moreBtn {
  background-color: rgba(42, 98, 67, 0.1);
  border-radius: 5px;
}

.moreBtn:hover {
  cursor: pointer;
}

.cathode {
  background-color: var(--blue);
  border-radius: 5px;
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.anode {
  background-color: var(--blue);
  border-radius: 5px;
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.selector {
  background-color: var(--blue);
  border-radius: 5px;
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.subElectrodeBox {
  background-color: rgba(61, 54, 189, 0.1);
  border-radius: 5px;
  grid-column: span 12;
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

.subElectrodeTitle {
  font-size: 10pt;
  margin-top: 5px;
  font-weight: 800;
}

.subElectrodeSubTitle {
  font-size: 10pt;
  margin-top: 5px;
  font-weight: 600;
}

.subElectrodeData {
  font-size: 10pt;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

.title {
  font-size: 18px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.button {
  appearance: none;
  background: none;
  font-size: 22px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(0, 0, 0);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: all 0.15s;
  margin-right: auto;
  margin-left: auto;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.55);
}

.button:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.button:disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.smallButton {
  font-size: 18px;
}

.syncButton {
  appearance: none;
  background: none;
  font-size: 14px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(0, 0, 0);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: all 0.15s;
}
.syncButton:hover {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.syncButton:active {
  background-color: rgba(0, 0, 0, 0.1);
}
